# --- Database (Postgres) ---
DB_SERVER=localhost
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# --- Docker (pgAdmin) ---
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# --- Django ---
DJANGO_SECRET_KEY=
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ORIGINS=http://localhost:3000,http://localhost:5173